
/*Farben
Backgroundcolor: background: #B48871;
font-family: 'Istok Web'
background: #F6E9D6;
hover effect: #4a1509;
backgroundcolo: white


*/

body {
    font-family: 'Istok Web', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B48871;
}

#feed {
    padding: 10px;
}

.continent-buttons {
    text-align: center;
    padding: 5px;
}

.continent-button {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

.continent-button:hover{
    color: #4a1509;
}

.kacheln {
    display: flex;
    /*border: 20% solid #ccc;
    margin: 50%;
    padding: 50%;*/
    display: flex;
    align-items: center;
}


/*.kacheln p {
    margin: 5%;
    flex:1;
}*/

/*.kachel-details {
    display: none;
}*/

.kacheln-content{
    flex: 1;
}

/* Kacheln Bilder*/

.Kacheln-image{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    float: right;
    
}

.Kacheln-image img {
    
    height: auto;
    border-radius: 50%;
    flex: 1;
    max-width: 100%;
    
    
    
   
}


.Box{
    background-color: #fff;
    display: flex;
    
}


div.Box{
    margin: 2%;
    border-top-left-radius: 30px; /* Oben links */
    border-top-right-radius: 30px; /* Oben rechts */
    border-bottom-left-radius: 30px; /* Unten links */
    border-bottom-right-radius: 30px; /* Unten rechts */
}


details.Kacheln{
    padding:5%;
}

h3{
    color: #B48871;
    font-size: 300%;
    margin: 0%;
}

p{
    color: #B48871;
}

button:hover{
    color: #4a1509;
}

summary p {
    font-weight:300;
}

.toggle-details {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.toggle-details.open {
    transform: rotate(180deg);
}

.donate-button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/*______________________________navigation______________________________________________*/

#bottom-buttons {
    position: fixed; /* Stellt die Position auf 'fixed' ein */
    bottom: 0; /* Befestigt das Element am unteren Rand des Bildschirms */
    left: 0; /* Optional: Befestigt das Element am linken Rand des Bildschirms */
    width: 100%; /* Füllt die gesamte Bildschirmbreite */
    display: flex;
    justify-content: center; /* Horizontal zentriert */
    align-items: center; /* Vertikal zentriert */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white; /* Hintergrundfarbe für bessere Sichtbarkeit hinzufügen */
    z-index: 999; /* Stelle sicher, dass es über anderen Inhalten angezeigt wird */
}

#feed-button {
    width: 50%;
    background-color: #9E725A;
    height: 60px;
    border: none;
}

#profile-button {
    width: 50%;
    background-color: white;
    height: 60px;
    border: none;
}

.icon_profile_button {
    height: 75%;
}

.icon_feed_button {
    height: 75%;
}

/* WAS DAS? DAS BRAUCHTS GLAUB NICHT :) LG NORINA
#feed-button, #profile-button {
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
} */

summary::marker {
    color: #B48871; /* You can change 'red' to the color of your choice */
  }
  
  