body {
    font-family: 'Istok Web', sans-serif;
    background-color: #F6E9D6;
    color: #9E725A;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* _________________________________________Header_____________________________ */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: bold;
}

#logo {
    display: flex;
    justify-content: center; /* Horizontale Zentrierung */
    margin-top: 50px;
}

#logo img {
    max-width: 15%; /* Begrenzt die Breite auf ca. 50px */
    height: auto; /* Behält das Seitenverhältnis bei */
}

.name {
    font-size: 30px;
    margin-left: 35px;
    font-style: normal;
}


/* _________________________________________Header_____________________________ */


.container {
    background-color: white; 
    border-radius: 10px; 
    padding: 20px; 
    padding-bottom: 65px;
    margin: 0 15px;
}

p {
    margin: 0;
}

h2 {
    border-bottom: 4px solid;
    text-underline-offset: 6px;
}

h3 {
    margin: 15px 3px 0px 0px;
}


/* _________________________________________Navigation_____________________________ */



#bottom-buttons {
    position: fixed; /* Stellt die Position auf 'fixed' ein */
    bottom: 0; /* Befestigt das Element am unteren Rand des Bildschirms */
    left: 0; /* Optional: Befestigt das Element am linken Rand des Bildschirms */
    width: 100%; /* Füllt die gesamte Bildschirmbreite */
    display: flex;
    justify-content: center; /* Horizontal zentriert */
    align-items: center; /* Vertikal zentriert */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white; /* Hintergrundfarbe für bessere Sichtbarkeit hinzufügen */
    z-index: 999; /* Stelle sicher, dass es über anderen Inhalten angezeigt wird */
}

#feed-button {
    width: 50%;
    background-color: white;
    height: 60px;
    border: none;
}

#profile-button {
    width: 50%;
    background-color: #9E725A;
    height: 60px;
    border: none;
}

.icon_profile_button {
    height: 75%;
}

.icon_feed_button {
    height: 75%;
}


/* _________________________________________Navigation_____________________________ */

/* _________________________________________Logout_____________________________ */

#logoutButton {
    margin: 10px auto; /* Zentriert die Buttons horizontal und fügt Abstand hinzu */
    padding: 4px 30px; /* Abstand innerhalb der Buttons */
    background-color:#B48871; /* Hintergrundfarbe auf Weiß setzen */
    border: 2px solid  #B48871; /* Entfernt die Rahmen um die Buttons */
    border-radius: 5px;
    color: white; /* Textfarbe auf die gewünschte Farbe (Braun) setzen */
    font-size: 20px;
    margin-top: 20px;
}



/*Janas Programmierkünste*/
#LöschButton {
    margin: 10px auto; /* Zentriert die Buttons horizontal und fügt Abstand hinzu */
    padding: 4px 30px; /* Abstand innerhalb der Buttons */
    background-color:#B48871; /* Hintergrundfarbe auf Weiß setzen */
    border: 2px solid  #B48871; /* Entfernt die Rahmen um die Buttons */
    border-radius: 30px;
    color: white; /* Textfarbe auf die gewünschte Farbe (Braun) setzen */
    font-size: 14px;
}