body {
    font-family: 'Istok Web', sans-serif;
    max-width: 100%;
    background-color: #9E725A;
}

#Logo {
    display: flex;
    justify-content: center; /* Horizontale Zentrierung */
    margin-top: 50px;
}

#Logo img {
    max-width: 50%; /* Begrenzt die Breite auf ca. 50px */
    height: auto; /* Behält das Seitenverhältnis bei */
}



/* ____________________________________________________Gestaltungselement___________________________________________________ */

/*
#Form {
  display: flex;
  justify-content: center;
  margin-top: 180px;
  z-index: 1;
}

#Form img {
  max-width: 200%; /* Begrenzt die Breite auf ca. 50px */ /*
  height: auto; /* Behält das Seitenverhältnis bei */ /*
} */

/* ____________________________________________________Gestaltungselement___________________________________________________ */




/* ________________________________________________________Anmeldung________________________________________________________________ */


#Input {
  display: flex;
  flex-direction: column; /* Elemente in einer Spalte anordnen */
  align-items: center; /* Horizontal zentrieren */
  text-align: center; /* Text in den Elementen zentrieren */
  margin-top: 50px;
}

#emailInput,
#passwordInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%; /* Füllt die verfügbare Breite im Container aus */
    margin-bottom: 10px; /* Abstand zwischen den Eingabefeldern */
    background-color: #F6E9D6;
    color: #9E725A;
}

::placeholder {
  color: #9E725A;
}

#loginButton {
    background-color: white;
    color: #9E725A;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}


/* ________________________________________________________Anmeldung________________________________________________________________ */


@media screen and (min-width: 600px) {
  #Logo img {
    max-width: 20%;
  }
}


